button{
    outline: none;
    border: none;
}

li{
    list-style: none;
    margin-bottom: 28px;
    display: flex;
}
ul{
    padding-left: 0px;
}

li p{
    color: var(--Primary-Text, #121E31);
    /* H7 / Open Sans / Reguler 16 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-left: 5px;
}

small{
    color: #B0B0B0;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.title-header-pd h1{
    color: #152C5B;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mt-project-detail{
    margin-top: 29px;
    color: #152C5B;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.set-row-project-detail{
    margin-left: 150px;
    margin-right: 150px;
}

.set-gambar-kiri-pd{
    width: 643px;
    height: 500px;
    border-radius: 15px;
    background-image: url('../assets/pdkp.png');
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
}

.set-gambar-kanan-pd:first-child{
    border-radius: 15px;
    background-image: url('../assets/pdka.png');
    background-size: cover;
    height: 245px;
}
.set-gambar-kanan-pd:last-child{
    border-radius: 15px;
    background-image: url('../assets/pdkb.png');
    background-size: cover;
    height: 245px;
}



.box-text-about-project h3{
    color: #152C5B;
    /* color: pink; */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* bars */
.bars-pd-outer{
    width: 596px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--Light, #EEE);
}
.bars-pd-inner{
    width: 369px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 14px;
    background: #3252DF;
}
/* bars */

/*  */
.detail-pd-tl{
    width: 596px;
}
.detail-pd-tl .ic-dolars{
    color: var(--Primary-Text, #121E31);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bagian-bawaaaaaah-aaaaaa{
    color: var(--Primary-Text, #121E31);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text-detail-project-bawaaah{
    justify-content: space-between;
    color: var(--Secondary-Text, #717579);

/* Body 2 / Open Sans / Reguler 14 */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-detail-project-bawaaah li{
    list-style:dot;
}
.count-project{
    color: #3252DF;

/* Body 1 / Open Sans / Bold 14 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*  */

.set-row-four{
    margin-top: 120px;
}

.cover-features-title{
    display: block;
    text-align: center;
    line-height: 20px;
}
.cover-content-features{
    justify-content:space-between;
    
}
.box-content-features{
    width: 335px;
    height: 358px;
    border-radius: 15px;
    background: #FAFAFA;
}
.box-content-features img{
    width:100%;
    border-radius: 15px;
}
.outer-bar-features{
    width: 319px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #98ABFF;
}
.inner-bar-features{
    width: 243.567px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3252DF;
}
.set-data-per-features{
    padding-left: 10px;
    padding-right: 35px;
}

.image-content-features{
    background-image: url(../../../assets/kapal.jpeg);
    height: 50%;
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.text-image-content{
    position: absolute;
    top: 133px;
    width: 335px;
    height: 46px;
    flex-shrink: 0;
    background-color: rgba(21, 44, 91, 0.60);
    color: #FAFAFA;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    padding-left: 10px;
    padding-top: 6px;
}
.set-pecents{
    color: #6C6767;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
}
.set-price{
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}





/*  */
.setbutton-content-bawah button{
    color: #3252DF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 192px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #3252DF;
    background: var(--Primary---Light, #F6FBFA);
    margin-right: 80px;
}
/*  */
.box-text-about-project p{
    color: #B0B0B0;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%; /* 27.2px */
}

.set-cover-box-invets{
    padding-left: 74px;
}

.box-start-invest{
    width: 487px;
    height: 550px;
    border-radius: 15px;
    border: 1px solid #E5E5E5;
    padding-left: 75px;
    padding-right: 83px;
    padding-top: 61px;
}


.box-start-invest-inner input{
    width: 329px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
}

.set-years{
    background-color: #F5F6F8;
    height: 45px;
    color: #152C5B;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    padding-top: 7px;
}

.set-years-min{
    border-radius: 4px;
    background: #E74C3C;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 5px;
}
.set-years-plus{
    border-radius: 4px;
    height: 45px;
    background: #1ABC9C;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 5px;
}
.input-invest-type{
    height: fit-content;
    width:320px ;
}
.set-inves-type-text p{
    color: #152C5B;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}

.set-inves-type-text{
    border-radius: 4px;
    background: #F5F6F8; 
    padding-top: 8px;   
}

.box-icon-calendar{
    padding-top: 8px;
    background-color: #152C5B;
    width: 45px;
    height: 50px;
    border-radius: 4px;

}

.box-start-invest h3{
    color: #152C5B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}
.start-inves-title{
    color: #152C5B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box-start-invest-inner h2{
    color: #152C5B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box-provit-return-inner{
    width: 329px;
}
.you-will-recive{
    color: #B0B0B0;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%; /* 27.2px */
}

.you-will-recive span{
    color: #152C5B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
}

.cover-y-w-r{
    text-align: center;
}

.btn-find-ap{
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3252DF;
    box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.30);
    margin-right: 17px;
}


/* footer */
footer{
    margin-top:180px ;
    height: 384px;
    background-color: #232631;
}
.logo-footer h3{
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.logo-footer p{
    color: #E0E7FA;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo-footer{
    padding-top: 100px;
    padding-left:100px ; 
}

.content-footer{
    padding-top: 100px;
    margin-right: 80px;
}
.content-footer h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content-footer ul{
    padding-left: 0;
}
.content-footer ul li{
    margin-top: 14px;
}



/* nav */

nav{
    border-bottom: 1.5px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-header{
    margin-left: 96px;
    margin-top: 4px;
    color: #3252DF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-header span{
    color: #152C5B;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tombol-navbar button{
    width: 175px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3252DF;
    box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.30);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 30.6px */
}

.set-nav-bar{
    color: #000;
    
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
